<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/movieStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title></title>

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body background="/img/sky.jpg">
    <h1 id="title"><%= title %></h1>
    <h3 id="titledetails"><%= genre %></h3>
    <img id="movieImage"  class="center" style="background: url(<%= posterUrl %>);">
    <p id="details">
        <%= plot %><br><br><br>
        RATING : 
        
        <% if (rating < 1) { %>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==1){ %>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>1 && rating <2){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==2){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating> 2 && rating < 3){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==3){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>3 && rating < 4){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==4){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>4 && rating < 5){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
        <% }else if(rating==5){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        <% } %>
        
        
        <br>
        Language : <%= language %> <br>
        Director: <%= director %> <br>
        Writers: <%= writer %>
    </p>

    <% if(userId==undefined){ %>
        <h3 id="titledetails">PLEASE LOGIN TO POST A COMMENT</h3>
    <% }else { %>
        <!-- <form> -->
            <textarea id="commentReview" name="comment" rows="8" cols="40"
                placeholder="Write Your Review.........."></textarea>
            <br>
            <input id="commentrating" name="com_rating" placeholder="Write Rating out of 5">
            <button id="commentsubmit">Submit</button>
        <!-- </form> -->
    <% } %>

<h3 id="titledetails">Previous Comments</h3>
<hr>

<% for (let index = 0; index < userNameArray.length; index++) {
    const userName = userNameArray[index];
    const movieReview=movieReviewArray[index];
    const movieRating=movieRatingArray[index];
    const date=dateArray[index] %>
    <i class='fas fa-user-circle' style='font-size:20px;color:white;margin-left:200px'> <%= userName %> (<%= date %>)</i>
    <p id="titledetails"><%= movieReview %></p>
    <p style="margin-left:350px;color:white">
        RATING :
        <% if (movieRating < 1) { %>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating==1){ %>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating>1 && movieRating <2){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating==2){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating> 2 && movieRating < 3){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating==3){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating>3 && movieRating < 4){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating==4){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <% }else if(movieRating>4 && movieRating < 5){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <% }else if(movieRating==5){ %>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <% } %>
    </p>
<% } %>

    <p id="test" style="color: white;"> Bye</p>

    <% let z="/movie/add/review/"+userId+"/"+imdbId %>
    <script>
        
        $(document).ready(function () {
            $("button").click(function(){
                $("#test").html("Button clicked");
                $.post("<%= z %>",{
                    movieReview:$("#commentReview").val(),
                    movieRating:$("#commentrating").val()
                },function(data,status){
                    $("#test").html(data);
                })
            });
        });
    </script>

</body>


</html>