<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/css/movieStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title></title>

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body background="/img/sky.jpg">
    <h1 id="title"><%= title %></h1>
    <h3 id="titledetails"><%= genre %></h3>
    <img id="movieImage"  class="center" style="background: url(<%= posterUrl %>);">
    <p id="details">
        <%= plot %><br><br><br>
        RATING : 
        
        <% if (rating < 1) { %>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==1){ %>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>1 && rating <2){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==2){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating> 2 && rating < 3){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==3){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>3 && rating < 4){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating==4){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        <% }else if(rating>4 && rating < 5){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o checked"></span>
        <% }else if(rating==5){ %>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        <% } %>
        
        
        <br>
        Language : <%= language %> <br>
        Director: <%= director %> <br>
        Writers: <%= writer %>
    </p>

    <form>
        <textarea id="commentstyle" name="comment" rows="8" cols="40"
            placeholder="Write Your Review.........."></textarea>
        <br>
        <input id="commentsubmit" type="submit" name="" value="SUBMIT">
    </form>
</body>

<h3 id="titledetails">Previous Comments</h3>
<hr>
<i class='fas fa-user-circle' style='font-size:20px;color:white;margin-left:200px'> Karan Kapoor (5 months ago)</i>
<p id="titledetails">Awesome Movie</p>
<p style="margin-left:350px;color:white">
    RATING : <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <br>
    <br>
</p>


<i class='fas fa-user-circle' style='font-size:20px;color:white;margin-left:200px'> Vishal Jangra (8 months ago)</i>
<p id="titledetails">Best Movie Ever</p>
<p style="margin-left:350px;color:white">
    RATING : <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <br>
    <br>
</p>

<i class='fas fa-user-circle' style='font-size:20px;color:white;margin-left:200px'> Vivek Aggarwal (1 year ago)</i>
<p id="titledetails">Time Waste</p>
<p style="margin-left:350px;color:white">
    RATING : <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <br>
    <br>
</p>

</html>